body,
input,
button {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("https://static-assets.bamgrid.com/product/disneyplus/images/background.dc67869b698f6c927aae59c68d9dda46.png");
  color: white;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}

.header__homeButtons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.header__title {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 0;
  cursor: pointer;
}

.header__title h3 {
  padding-left: 2%;
  text-align: center;
}

.header__logo {
  width: 14%;
}

.header__btn,
.header__input {
  font-size: 1em;
  background: none;
  color: white;
  font-family: "Fredoka", sans-serif;
  border: none;
}

.carousel {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
}

.carousel__Image {
  width: 1000px;
  height: 100%;
  object-fit: cover;
}

.slide {
  transform: scale(1);
  transition: transform 0.5s;
  transform: translatex(100%);
}

.slide.active {
  transform: translatex(0%);
  opacity: 1;
  transition-delay: 0ms;
}

.carousel__Btn {
  position: absolute;
  font-size: 3em;
  color: white;
}

.carousel__PrevContainer,
.carousel__NextContainer {
  position: absolute;
  cursor: pointer;
  padding-top: 15%;
  padding-bottom: 25%;
  opacity: 0;
  width: 10%;
  top: 0%;
}

.carousel__PrevContainer {
  left: -10%;
}

.carousel__Prev {
  left: 0%;
}

.carousel__NextContainer {
  right: -10%;
}

.carousel__Next {
  right: 20%;
}

.carousel__NextContainer:hover,
.carousel__PrevContainer:hover {
  transition: 0.6s ease;
  opacity: 1;
}

.carousel__Title {
  position: absolute;
  bottom: 0;
  width: 98%;
  opacity: 0.9;
  background-color: rgb(43, 48, 65);
  color: white;
  padding-left: 2%;
  cursor: pointer;
}

.homeLists {
  display: flex;
  justify-content: space-between;
}

.homeLists ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.watchList {
  font-size: 1.4em;
  text-align: center;
}

.watchList h3 {
  margin: 5%;
}

.watchListImage {
  width: 180px;
}

.watchList ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.watchList ul li {
  cursor: pointer;
  margin-top: 10%;
}

.watchList ul li:hover {
  background-color: lightgrey;
}

.watchList p {
  margin: 0;
  padding: 0;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
}

.mediaTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.mediaImage {
  width: 320px;
}

.mediaPost {
  cursor: pointer;
  font-weight: bold;
}

.mediaWatch {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.mediaWatch p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0;
  padding: 0;
}

.mediaWatch ul {
  margin: 0;
  padding: 0;
}

.buttonList {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonList button {
  margin-left: 1%;
  margin-right: 1%;
}
